*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
}

header {
    background-color: darkgray;
    margin: 5px;
    padding: 10px;
    text-align: center;
    font-weight: 700;
}

.container {
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;

}

.main {
    background-color: black;
    color: white

}

.left{
    background-color:brown;
    color: black;


}

.right{
    background-color:aliceblue;
    color: black;


}



footer {
    background-color: darkgray;
    margin: 5px;
    padding: 10px;
    text-align: center;
    font-weight: 700;
}